
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: auto;
    background: #b6e388;
    background-image: cross-fade();
    align-items: center;
    align-content: center;
    text-align:center;

  }
  .column1{
    float: left;
    width: 33.33%;
    padding: 10px;
    height: auto;
    background-color: #CCD6A6;
    background-image: cross-fade();
    align-items: center;
    align-content: center;
    text-align:center;
    
  }

  .column img{
    height: 145px;
    width: 150px;


  }
  .def {
    text-align: justify;
  }

  .hf {
    font: size 100;
    text-align: justify;
    border-image: auto;
  }



  .column1 img {
    height: 450px;
    width: 400px;
    

  }
  .hff {
    
    text-align: center;
    
  }
  .hff h4  {
    color: black;
    font-family: "Times New Roman", Times, serif;
  }


 